
{% extends 'reservations/base.html' %}

{% block content %}

    
        
            
                Delete Reservation
                Are you sure you want to delete this reservation?
                
                    {{ reservation.name }}
                    {{ reservation.date|date:"F d, Y" }} at {{ reservation.time|time:"g:i A" }}
                
                
                    {% csrf_token %}
                    Yes, Delete
                    Cancel
                
            
        
    

{% endblock %}